body{
background-color:black;
display: flex;
flex-direction: row;
justify-content: center;
align-items:center;

}
p{
    margin: 0;
}
.nickname-1{
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.head{
    display:flex;
    background-color: rgb(255, 255, 255);
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding: 10px;
}
.head-left{
    display:flex;
    gap: 10px;
    flex-direction:row;
    align-items:center;
}
.img-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.username{
    display:flex;
    flex-direction:column;
    margin: 0%;   
}
.buttons-panel{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding: 10px;
}
.strong{
    font-weight: bold;
}
.texto{
    padding: 10px;
}